font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto_Mono/static/RobotoMono-Regular.woff2') format('woff2'),
  url('../fonts/Roboto_Mono/static/RobotoMono-Regular.woff') format('woff'),
  url('../fonts\Roboto_Mono/static/RobotoMono-Regular.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'roboto';
  font-weight: 400;
  font-style: normal;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url(../images/background5.jpg);
  background-size: cover;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
  max-width: 600px;
  color: rgb(230, 230, 255);
  font-size: 1.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

p {
  padding: 1rem;
  margin: 1rem;
}
